* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

:root {
    --primaryColor: #FB2E86;
    --mainfont: "Lato", sans-serif;
}

.btn {
    border: none;
    outline: none;
    background-color: var(--primaryColor);
    color: white;
    padding: 16px 40px 17px;
    border-radius: 2px;
}

.btn-primary {
    background-color: var(--primaryColor);
}

.btn_success {
    background-color: #08D15F;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.container{
width:calc(100% - 320px);
margin: auto ;
}