body {
    font-family: var(--mainfont);
    /* start Header */
}

header {
    padding: 57px 0;
}

header ul {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}

.list a {
    color: #0D0E43;
}

.list .active {
    color: var(--primaryColor);
}

.bar {
    display: none;
}

@media screen and (max-width:1200px) {

    .list,
    header .search {
        display: none;
    }

    .bar {
        display: block;
    }
}

.search form {
    border: 3px solid #E7E6EF;
    border-radius: 5px;
    display: flex;
}

.search input {
    border: none;
    outline: none;
    width: 250px;
    padding-left: 9px;
}

.search button {
    border: none;
    outline: none;
    background-color: var(--primaryColor);
    padding: 8px 13px;
}

/* End Header */

/* Start Hero */

.hero {
    background-color: #F2F0FF;
    padding: 50px 0;
}

.hero-content {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 65%;
}

.hero-content .hero-lamp {
    position: relative;
    bottom: 65px;
    width: 25%;
}

.hero-lamp img {
    width: 300px;
}

.para-one {
    color: var(--primaryColor);
}

.para-two {
    color: #8A8FB9;
}

.hero-img {
    flex: .5 0 25%;
}

.hero-img img {
    width: 90%;
}

@media screen and (max-width : 992px) {

    .hero-lamp {
        display: none;
    }
}



/* End Hero */

/* Start Featured-Product */
.featured-product {
    padding: 50px 0;
}

.featured-product h2 {
    margin-bottom: 30px;
    color: #1A0B5B;
    font-size: 40px;
}

.featured-product .row {
    justify-content: flex-start;
    gap: 15px;
}

.featured-product .products {
    flex: 1 0 300px;
    box-shadow: 0 4px 4px #00000040;
    border-radius: 4px;
}

.color {
    width: 20px;
    height: 6px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.color-one {
    background-color: #05E6B7;
}

.color-two {
    background-color: #F701A8;
}

.color-three {
    background-color: #00009D;
    transition: all .6s;
}

.products .image {
    background-color: #F6F7FB;
    padding: 30px;
    position: relative;
}

.icon-img i {
    color: #1DB4E7;
    display: none;
    transition: all .3s;
}

.but-img {
    border: none;
    outline: none;
    background-color: #08D15F;
    color: white;
    padding: 8px 16px 10px 13px;
    border-radius: 2px;
    position: absolute;
    bottom: 6px;
    right: 110px;
    display: none;
    transition: all .6s;
}

.products img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.products-details {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: all .6s;
}

.products-details h3 {
    color: var(--primaryColor);
    transition: all .6s;
}

.products-details span {
    color: #151875;
    transition: all .6s;
}


.products:hover .icon-img i {
    display: block;
}

.icon-img i:active {
    width: 20px;
    height: 20px;
   padding: 15px;
    border-radius: 50%;
    background-color: #EEEFFB;
    color: #301BC5;
}

.products:hover .but-img {
    display: block;
}

.products:hover .products-details {
    background-color: #2F1AC4;
    border-radius: 2px;
}

.products:hover .products-details h3 {
    color: white;
}

.products:hover .color-three {
    background-color: #FFEAC1;
}

.products:hover .products-details span {
    color: white;
}

/* End Featured-Product */
/* Start Leatest Products */

.leatest-products {
    padding: 50px 0;
}

.leatest-products h2 {
    color: #151875;
    font-size: 40px;
}

.leatest-products a {
    color: #151875;
}

.item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    padding: 30px;
}

.item a:hover {
    color: var(--primaryColor);
    text-decoration: underline;
}

.leatest-products .row {
    justify-content: flex-start;
    gap: 15px;
}

.leatest-products .product {
    width: calc((100% - 30px) / 3);
    text-align: center;
    border-radius: 4px;
}

.product .leatest-img {
    background-color: #EEEFFB;
    position: relative;
}

.leatest-img .sale {
    position: absolute;
    bottom: 80px;
    left: 25px;
    display: none;
    transition: all .8s;
}

.leatest-img .sale img {
    width: 90px
}

.leatest-img:hover .sale {
    display: block;
}

.icon-xm {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    bottom: 10px;
    left: 70px;
    color: #2F1AC4;
    opacity: 0;
    transition: all .2s;
}
.icon-xm :active {
    width: 20px;
    height: 20px;
   padding: 15px;
    border-radius: 50%;
    background-color: #EEEFFB;
}
.product:hover .icon-xm {
    opacity: 1;
}
.product .leatest-img:hover {
    background-color: #FFFFFF;
}
.leatest-img img {
    height: 250px;
    object-fit: contain;
}

.leatest-details {
    padding: 15px;
    color: #151875;
    gap: 20px;
}

.products-info .sp-color {
    color: var(--primaryColor);
}

@media screen and (max-width:900px) {
    .leatest-products .product {
        width: calc((100% - 15px) / 2);

    }
}

@media screen and (max-width:500px) {
    .leatest-products .product {
        width: 100%;
    }
}

/* End Leatest Products */
/* Start offer */
.offer {
    padding: 50px 0;
}

.offer h2 {
    color: #151875;
    font-size: 40px;
    word-spacing: 7px;
}

.offer .offer-sec {
    flex-grow: 1 0 200px;
    width: 20%;
    background-color: #FFFFFF;
    box-shadow: 0 4px 4px #00000020;
    padding: 50px 30px;
    margin: 30px;
}

.offer-sec h3 {
    color: #151875;
    margin: 20px 0;
}

.offer-sec p {
    color: #1a0b5b4f;
}

/* End offer */
/* Start Trending Products */
.trending {
    padding: 50px 0;
}

.trending h2 {
    color: #151875;
    font-size: 40px;
}

.trending .row {
    justify-content: flex-start;
    gap: 15px;
}

.trend-product {
    flex: 1 0 200px;
    width: 20%;
    box-shadow: 0 4px 4px #00000040;
    border-radius: 4px;
    padding: 10px;
    margin: 20px;
    margin-top: 30px;
}

.trend-img img {
    background-color: #F5F6F8;
    width: 100%;
    height: 250px;
    object-fit: contain;
}

.trend-details {
    color: #151875;
    padding: 5px;
}

.trend-details .p-span {
    color: #1a0b5b4f;
}

/* End Trending Products */
/* Start Top Categorie */
.top-categorie {
    padding: 50px 0;
}

.top-categorie h2 {
    color: #151875;
    font-size: 40px;
}

.top-categorie .row {
    justify-content: center;
    gap: 30px;
}
.categorie-img {
    background-color: #F6F7FB;
    box-shadow: 0 3px 3px #807e7e40;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    padding: 40px 5px;
    margin-top: 30px;
    position: relative;
    border: 5px solid transparent;
    transition: all .6s;
}
.categorie-img:hover{
border-color: #9877E7;
border-top:none transparent;
border-right: none transparent ;
}

.but-view {
    border: none;
    outline: none;
    background-color: #08D15F;
    color: white;
    width: 85px;
    height: 25px;
    font-size: 10px;
    padding: 8px 16px 10px 13px;
    border-radius: 2px;
    position: absolute;
    bottom: 12px;
    left: 80px;
    display: none;
    transition: all .6s;
}

.categorie-details {
    margin-top: 10px;
    color: #151875;
}
.categorie :hover .but-view{
    display: block;
}

/* End Top Categorie */
/* Start Newslater */
.newslater {
    background-image: url('./img/public/Rectangle.webp');
    padding: 175px 0;
    text-align: center;
}

.newslater h2 {
    margin-bottom: 50px;
    color: #151875;
    font-size: 40px
}

.shop-btn {
    transition: all .5s;
}

.shop-btn:hover {
    background-color: red;
}

/* End Newslater */
/* Start Clients */
.clients {
    padding: 50px 0;
}

.clients .row {
    flex-wrap: nowrap;
    gap: 15px;
    overflow-x: auto;
}

.clients .logo {
    width: calc((100% - 75px) / 6);
}

.clients img {
    width: 150px;
    height: 150px;
}

@media screen and (max-width:900px) {
    .clients .logo {
        width: calc((100% - 45px) / 4);
    }
}

@media screen and (max-width:500px) {
    .clients .logo {
        width: calc((100% - 15px) / 2);
    }
}

/* End Clients */
/* Start leatest-blog */

.leatest-blog {
    padding: 50px 0;
}

.leatest-blog h2 {
    color: #151875;
    font-size: 40px;
    margin-bottom: 30px;
}

.leatest-blog .row {
    justify-content: center;
    gap: 15px;

}

 .blog-section {
    width: calc( ( 100% - 45px ) / 3 );
    box-shadow: 0 4px 4px #00000040;
    border-radius: 4px;
}

.blog-img img {
    width: 100%;
    height: 250px;
}

.blog-details {
    padding: 20px;
    color: #151875;
}

.blog-info h3 {
    transition: all .8s;
}

.blog-info p {
    color: #72718F;
}

.blog-info a {
    text-decoration: underline;
    transition: all .8s;


}

.blog-section :hover .blog-info h3 {
    color: var(--primaryColor);
}

.blog-section :hover .blog-info a {
    color: var(--primaryColor);
}

@media screen and (max-width : 992px) {

   .blog-section {
    width: calc( ( 100% - 30px ) / 2 );
   }
}
@media screen and (max-width : 576px) {
   .blog-section {
    width: 100% ;
   }}
/* End leatest-blog */
/* Start Footer  */
footer {
    background-color: #EEEFFB;
    padding: 50px;
}

footer .row {
    gap: 30px;
}

footer a,
.address-info {
    color: #8A8FB9;
}

footer .left-side {
    gap: 35px;
    align-items: flex-start;
    width: calc ((100% - 35px) / 2);
}

footer .right-side {
    width: calc ((100% - 35px) / 2);
}

footer .right-side .row {
    gap: 35px;
    align-items: flex-start;
}

.footer-item {
    gap: 45px;
    width: calc ((100% - 35px) / 3);
}

@media screen and (max-width : 992px) {

    footer .left-side,
    footer .right-side {
        width: 100%;
    }
}

@media screen and (max-width : 576px) {
    footer {
        text-align: center;
    }

    .footer-item {
        width: 100%;
    }
}