body{
    font-family: var(--mainfont);
}
header {
    padding: 57px 0;
}

header ul {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}
.list a {
    color:#0D0E43;
}
.list .active {
    color: var(--primaryColor);
}
.bar{
    display: none;
}
@media screen and (max-width:1200px) {
    .list , .search {
        display: none;
    }
    .bar{
        display: block;
    }
}
.search form {
    border: 3px solid #E7E6EF;
    border-radius: 5px;
}
.search input {
border: none;
outline: none;
width: 250px;
padding-left: 9px;
}
.search button{
    border: none;
    outline: none;
    background-color: var(--primaryColor);
    padding: 8px 13px;
}

/* End Header */
/* Start Footer  */
footer{
    background-color: #EEEFFB; 
    padding: 50px;
}
footer .left-side{
gap: 35px;
align-items: self-start;
}
footer .right-side{
    width: 60%;
    gap: 88px;
    align-items: center;
}
footer .footer-item{
    gap: 45px;
}
footer a , .address-info{
    color:#8A8FB9;
}

